<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>教师教学科研管理系统</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    let teacherCount = 1; // 初始化老师数量

    function addTeacherField() {
        teacherCount++;
        const teacherContainer = document.getElementById('teacherFieldsContainer');
        const newTeacherField = document.createElement('div');
        newTeacherField.className = 'mb-3 row'; // 使用row类
        newTeacherField.innerHTML = `

            <div class="col">
                <label for="teacherName${teacherCount}" class="form-label">论文作者</label>
                    <input type="text" name="teacher_names" class="form-control" id="teacherName${teacherCount}"  placeholder="作者姓名" >
                    </div>
            <div class="col">
                <label for="teacherID${teacherCount}" class="form-label">教师工号</label>
                <input type="text" name="teacher_ids" class="form-control" id="teacherID${teacherCount}" " placeholder="教师工号" >
            </div>  

            <div class="col">
                <label for="time${teacherCount}" class="form-label">排名</label>
                <input type="number" name="teacher_rank" class="form-control" id="time${teacherCount}"  placeholder="排名" >
            </div>
            <div class="col-md-4 d-flex align-items-center">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="corresponding_author" id="correspondingAuthor${teacherCount}" value="${teacherCount}">
                    <label class="form-check-label" for="correspondingAuthor${teacherCount}">
                        是否为通讯作者
                    </label>
                </div>
            </div>
            
        `;
        teacherContainer.appendChild(newTeacherField);
    }
  </script>
  <script>document.addEventListener("DOMContentLoaded", function() {
    // 根据结果显示相应的 Toast
    const result = "{{ result }}";  // 从 Flask 传递的结果
    if (result) {
        const toastElement = document.getElementById('resultToast');
        const toastBody = document.getElementById('toastBody');

        toastBody.textContent = result;    
        toastElement.classList.add('bg-danger');
        
        const toast = new bootstrap.Toast(toastElement);
        toast.show();  // 显示 Toast
    }
});
</script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="https://cdn-icons-png.flaticon.com/512/3135/3135755.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
            教师科研管理系统
          </a>
          <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
              <a class="nav-link active" href="/paper/show">论文</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/project/show">项目</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/course/show">课程</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/id/show">综合查询</a>
            </li>
          </ul>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <nav aria-label="...">
                  <ul class="pagination pagination-lg">
                    <li class="page-item"><a class="page-link" href="/paper/show">论文查询</a></li>
                    <li class="page-item active" aria-current="page">
                      <span class="page-link">论文新增</span>
                    </li>
                  </ul>
                </nav>
            </div>
            <div class="card-body">
                <form action="/paper/add" method="POST" class="row g-3">
                    <div class="col-md-4">
                        <label for="paperID" class="form-label">论文序号</label>
                        <input type="text" class="form-control" id="paperID" name="paper_id" placeholder="请输入论文序号" value="{{ request.form.get('paper_id', '') }}" required>
                    </div>
                    <div class="col-md-4">
                        <label for="paperName" class="form-label">论文名称</label>
                        <input type="text" class="form-control" id="paperName" name="paper_name" value="{{ request.form.get('paper_name', '') }}" placeholder="请输入论文标题">
                    </div>
                    <div class="col-md-4">
                        <label for="paperSource" class="form-label">论文发表源</label>
                        <input type="text" class="form-control" id="paperSource" name="paper_source" value="{{ request.form.get('paper_source', '') }}" placeholder="请输入论文发表源">
                    </div>
                    <div class="col-md-4">
                        <label for="paperYear" class="form-label">论文年份</label>
                        <div class="input-group">
                            <input type="date" class="form-control" id="paperYear" name="paper_year" value="{{ request.form.get('paper_year', '') }}" placeholder="YYYY/YY/YY" >
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="paperType" class="form-label">论文类型</label>
                        <select class="form-select" id="paperType" name="paper_type" value="{{ request.form.get('paper_type', '') }}">
                            <option selected disabled>请选择</option>
                            <option value="1">Full Paper</option>
                            <option value="2">Short Paper</option>
                            <option value="3">Poster Paper</option>
                            <option value="4">Demo Paper</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="paperLevel" class="form-label">论文级别</label>
                        <select class="form-select" id="paper_level" name="paper_level" value="{{ request.form.get('paper_level', '') }}">
                            <option selected disabled>请选择</option>
                            <option value="1">CCF-A</option>
                            <option value="2">CCF-B</option>
                            <option value="3">CCF-C</option>
                            <option value="4">中文 CCF-A</option>
                            <option value="5">中文 CCF-B</option>
                            <option value="6">无级别</option>
                        </select>
                    </div>
                    <div class="col-12">
                        <div id="teacherFieldsContainer"></div>
                        <button type="button" class="btn btn-secondary" onclick="addTeacherField()">添加老师</button>

                    </div>

                    <div class="col-12 text-end">
                        <button type="submit" class="btn btn-primary">提交</button>
                    </div>
                </form>

            </div>
        </div>
        <div class="toast" id="resultToast" role="alert" aria-live="assertive" aria-atomic="true" style="position: absolute; top: 20px; right: 20px;">
            <div class="toast-header">
                <strong class="me-auto">提示</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body" id="toastBody">
                <!-- 消息内容 -->
            </div>
        </div>
</body>